/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,600;0,700;1,300&family=Poppins:wght@300;400;500;600;700&display=swap');

/* Global */
body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    color: #747e74;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    display: inline-block;
    transition: all 0.4s ease;
}

h1, h3, h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    color: #38424d;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 28px;
}

p {
    font-weight: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #747e74;
    margin: 0;
}

span {
    display: contents;
    color: #FFCB57;
}

/* Download button */
.main-btn {
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;  
    line-height: 50px;
    border: 2px solid #2D0F44;
    border-radius: 8px;
    background-color: #2D0F44;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.main-btn:hover {
    background-color: #ffffff;
    color: #2D0F44;
    transform: scale(1.1);
    box-shadow: 0 4px 6px rgba(45, 15, 68, 0.8);
}

/* contact button */
.btn-brand {
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    text-align: center;  
    line-height: 45px;
    border: 2px solid #2D0F44;
    border-radius: 8px;
    background-color: #2D0F44;
    color: #ffffff;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;   
}

.btn-brand:hover {
    background-color:  #452964;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(45, 15, 68, 0.8);
    transform: scale(1.1);
}

/* animations */
@keyframes video {
    0% {
    transform: scale(1);
    opacity: 1;
    }
    100% {
    transform: scale(1.4);
    opacity: 0;
    }
}

@keyframes bounceTop-1 {
    0%,100% {
    transform: translateY(-30px);
    }
    50% {
    transform: translateY(0px);
    }
}

/* navbar */
.navbar {
    padding: 10px 60px;
    /* box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08); */
}

/* Make the navbar sticky */
.header-area {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.08);
}

.body-padding {
    padding-top: 100px;
}


image {
    display: inline-block;
}
.navbar-logo .image {
    max-width: 150px;
    height: auto;
    transition: max-width 0.3s ease;
}

.navbar-logo .image:hover {
    transform: scale(1.1);
}

.navbar-nav .nav-item {
    position: relative;
    margin-left: 40px;
}

.navbar-nav .nav-item .nav-link{
    position: relative;
    padding: 10px 0;
    font-size: 18px;
    font-weight: 400;
    color: #2D0F44;
}

.navbar-nav .nav-item .nav-link.active,
.navbar-nav .nav-item .nav-link:hover {
    color: #FFCB57;
    transform: scale(1.05);
}

.header-hero {
    position: relative;
    /* top: 20px; */
    height: 800px;
    background-position: bottom center;
    height: auto;
}

.header-hero-content {
    position: relative;
}

.header-hero .header-title {
    font-size: 42px;
    color: #38424d;
    text-align: left;
}

.header-hero-content .text {
    margin-top: 30px;
    text-align: left;
}

.header-hero-content ul {
    margin-top: 30px;
}

.header-hero-content ul li .header-video {
    margin-left: 50px;
}

.header-hero-content .header-video {
    position: relative;
    display: inline-block;
    margin-top: 6px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 18px;
    border-radius: 50%;
    background-color: #2d0f44;
    color: #ffffff;
}

.header-hero-content .header-video::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    background-color: #2d0f44;
    z-index: -9;
    animation: video 2s linear infinite;
}

.header-image {
    position: relative;
    padding-top: 80px;
    animation: bounceTop-1 3s ease infinite;
}


.header-shape-2 {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-image: url(../images/bg2.png);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}

.header-shape-2 {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.vbox-close {
    color: #fff;
    background: transparent;
    font-size: 40px;
    right: 12%;
}

.image-1 {    
    width: 50%;
    height: auto;
}

/* features */
.feature-section .single-feature {
    padding: 30px;
    text-align: center;
    box-shadow: 0 15px 17px 0 rgb(154 154 154 / 16%); 
}

.feature-section .single-feature .icon {
    position: relative;
    width: 75px;
    height: 75px;
    display: flex;
    margin: 0 auto 30px;
    background-color: #2D0F44;
    color: #fff;
    font-size: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 7px;
}

.feature-section .single-feature .color-2 {
    background-color: #FFCB57;
}

.feature-section .single-feature .color-3 {
    background-color: #FFC8A3 ;
}

.feature-section .single-feature .icon::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: inherit;
    border-radius: inherit;
    top: -8px;
    right: -8px;
    z-index: -1;
    opacity: .2;
    transition: all .3 ease-out 0s;
}

.feature-section .single-feature:hover .icon::after {
    top: 8px;
    right: 8px;
    transform: scale(1.1);
}

.feature-section .single-feature .content {
    font-weight: 600;
    margin-top: 25px;
}

/* about */
.about-area {
    overflow: hidden;
}

.about-image {
    display: inline-block;
    position: relative;
    text-align: center;
    margin-left: 50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.about-image .about-shape {
    position: relative;
    width: 394px;
    height: 394px;
    background-color: #FFCB57;
    border-radius: 50%;
}

.about-image .about-shape::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 50%;
    border: 2px solid #FFCB57;
    border-top-color: transparent;
    border-right-color: transparent;
    transform:  scale(1.1) rotate(25deg);
} 

.about-image .app {
    max-width: 280px;
    position: absolute;
    top:100px;
    left: 95px;
    transform: rotate(-25deg) translateY(-15%);
}

.title {
    font-size: 35px;
    font-weight: 600;
}

.text {
    margin-top: 20px;
}

.about-content .main-btn {
    margin-top: 40px;
}

/* Testimonial */
.testimonial-section {
    padding: 100px 0;
    background-color: #2D0F44;
}

.testimonial-section .testimonial-active-wrapper {
    justify-content: center;
}

.testimonial-section .testimonial-wrapper {
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: center;
}

.testimonial-section .single-testimonial {
    position: relative;
    padding: 45px 50px;
    background-color: #fff;
    border-radius: 10px;
    z-index: 9;
    max-width: 100%;
}

.testimonial-section .single-testimonial::before {
    top: -20px;
    right: -20px;
    opacity: .26;
    z-index: -1;
}

.testimonial-section .single-testimonial::after {
    top: -40px;
    right: -40px;
    opacity: .13;
    z-index: -2;
}

.testimonial-section .single-testimonial::before,
.testimonial-section .single-testimonial::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: inherit;
}

.testimonial-section .single-testimonial .info .image-2 {
    width: 100%;
    max-width: 65px;
    border-radius: 50%;
    overflow: hidden; 
}

.testimonial-section .single-testimonial .info h4 {
    margin-bottom: 8px;
}

.testimonial-section .single-testimonial .info p {
    margin-bottom: 15px;
    font-size: 16px;
}

.testimonial-section .single-testimonial .quote {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 80px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.09);
    /* color: rgba(255, 203, 87, 0.5); */
}

/* Contact form */
.form-control:focus {
    box-shadow: none;
    border-color: #8F3694;
}

.form-label{
    font-weight: 300;
    color: #092032;
}

.image-section {
    background-size: cover !important;
    background-repeat: no-repeat !important;
    background-position: center center !important;
}

.custom-padding {
    padding-top: 3rem;
    padding-bottom: 3rem; 
    padding-right: 3rem; 
}

form h1 {
    color:#2D0F44;
}
